<!-- Validation failure messages -->
<% if @habbit.present? %>
  <% if @habbit.errors.any? %>
      <div class="alert alert-danger">
        <%= @habbit.errors.first[1] %>
      </div>
  <% end %>
<% end %>

<h1>
  Add a new habbit
</h1>


<hr>

<form action="/create_habbit" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

 <div class="form-group">
    <label for="points">Select importance of habbit</label>
    <select class="form-control" name="points" id="points" >
      <option value=-5>-5: Terrible vice</option>
      <option value=-4>-4</option>
      <option value=-3>-3</option>
      <option value=-2>-2</option>
      <option value=-1>-1 </option>
      <option value=0>0: Neutral habbit</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5: Great Virtue</option>
    </select>
  </div>



 <input type="hidden" name="active" value=1>

 <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create habbit
  </button>
</form>

<hr>

<a href="/habbits">
  Go back
</a>