<!-- Validation failure messages -->
<% if @action.present? %>
  <% if @action.errors.any? %>
    <% @action.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new action
</h1>


<hr>

<form action="/create_action" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @action.user_id %>">
  </div>

  <div class="form-group">
    <label for="habbit_id">
      Habbit
    </label>

    <input type="text" id="habbit_id" name="habbit_id" class="form-control" value="<%= @action.habbit_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create action
  </button>
</form>

<hr>

<a href="/actions">
  Go back
</a>
